<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boardactive.bakitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.hardware.location.gps" />


    <application>
        <!-- [START BOOT/DEFAULT SERVICE] -->
        <receiver
            android:name="com.boardactive.bakitapp.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- [END BOOT/DEFAULT SERVICE] -->

        <receiver
            android:name="com.boardactive.bakitapp.LocationUpdatesBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.location.sample.locationupdatespendingintent.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.boardactive.bakitapp.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>


        <service
            android:name="com.boardactive.bakitapp.LocationUpdatesService"
            android:enabled="true"
            android:exported="true" />
<!--        <service android:foregroundServiceType="location"/>-->

        <receiver
            android:name="com.boardactive.bakitapp.GeofenceBroadCastReceiver"
            android:allowBackup="true"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <activity
            android:name="com.boardactive.bakitapp.RequestPermissionActivity"
            android:exported="true">

        </activity>

<!--        <service-->
<!--            android:name=".GeofenceJobIntentService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <service
            android:name="com.boardactive.bakitapp.LocationService"
            android:enabled="true"
            android:exported="false" />
<!--               <service-->
<!--                  android:name=".GeofenceIntentService"-->
<!--                    android:enabled="true"-->
<!--                   android:exported="true" />-->

    </application>

</manifest>
